#toast{
  position: fixed;
  left:50%;
  top:30%;
  width:50%;
  text-align: center;
  transform: translateX(-50%);
  background: rgba(0,0,0,.618);
  color:#fff;
  border-radius: .5rem;
  padding: .1rem;
}