@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "微软雅黑";
  text-size-adjust: 100%; }

ul,
li {
  list-style: none; }

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none; }

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none; }

input,
button {
  outline: 0; }

button {
  cursor: pointer; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999; }

body {
  font-size: .24rem; }

html,
body {
  width: 100%;
  height: 100%; }